#copyButton, #helpMessage {
    -fx-text-fill: #E2E8F0;
}

#copyButton {
    -fx-background-color: #6366F1;
    -fx-border-color: #6366F1;
}

#copyButton:hover {
    -fx-background-color: #4F46E5;
    -fx-border-color: #4F46E5;
}

#copyButton:armed {
    -fx-background-color: #4338CA;
    -fx-border-color: #4338CA;
}

#helpMessageContainer {
    -fx-background-color: #1E293B;
}
